In [ ]:
# Loop While or for 
i = int(input("Enter any integer: "))
n = int(input("Enter any integer: "))
while i < n:
  print(i)
  i += 1

Enter any integer: 2
Enter any integer: 6
2
3
4
5

In [ ]:
#Print with a break
x = int(input("Enter any integer: "))
y = int(input("Enter any integer: "))
while x > y: 
  print(y)
  if y == 8:
    break
  y += 1

Enter any integer: 12
Enter any integer: 1
1
2
3
4
5
6
7
8

In [ ]:
#Print with a continue
x = int(input("Enter any integer: "))
y = int(input("Enter any integer: "))
while x > y: 
  y += 1
  if y == 8:
    continue
  print(y)

Enter any integer: 12
Enter any integer: 1
2
3
4
5
6
7
9
10
11
12

In [ ]:
foods = ["french fries", "chicken fry", "sauteed roast", "mixed veg"]
for k in foods:
  print(k)
  if k == "sauteed roast":
    break

french fries
chicken fry
sauteed roast

In [ ]:
for k in foods:
  if k == "sauteed roast":
    continue
  print(k)

french fries
chicken fry
mixed veg

In [ ]:
#Nested Loop
tastes = ["Mild", "Salty", "Spicy"]

for m in tastes:
  for n in foods:
    print(m, n)

Mild french fries
Mild chicken fry
Mild sauteed roast
Mild mixed veg
Salty french fries
Salty chicken fry
Salty sauteed roast
Salty mixed veg
Spicy french fries
Spicy chicken fry
Spicy sauteed roast
Spicy mixed veg

In [ ]:
#Function

def my_func(first_name):
  print(first_name + " Islam")

my_func(input("Enter your first Name: "))

Enter your first Name: Arif
Arif Islam

In [ ]:
def func_1(f_name, l_name):
  print(f_name + " " + l_name)

func_1(input("First Name: "), input('Last Name: '))

First Name: Faisal
Last Name: karim
Faisal karim

In [ ]:
#Coding through Lambda 
m = lambda x: x + 5
print(m(3))

8

In [ ]:
def my_func(n, m):
  return lambda a: a - n + m

my_double = my_func(5, 7)
print(my_double(41))

43

In [ ]:
#class 
class my_class():
  x = 6
  y = 11

p_1 = my_class()
print(p_1.x * y)

72

In [45]:
class Human: 
  def __init__(self, name, age):
    self.name = name
    self.age = age

p_1 = Human("Sami", 32)

print(p_1.name)
print(p_1.age)

Sami
32

In [48]:
#Looping through class 
n = int(input("Please enter the boundary number: "))

class my_num:
  def __iter__(self):
    self.m = 0
    return self
  def __next__(self):
    if self.m <= n:
      x = self.m
      self.m += 2
      return x
    else: 
      raise StopIteration

my_class = my_num()
my_iter = iter(my_class)

for x in my_iter:
  print(x)

Please enter the boundary number: 44
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44

In [50]:
class Vehicle: 
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model
  
class car(Vehicle):
  def move(self):
    print("Drive")

class boat(Vehicle):
  def move(self):
    print("Sail")
  
class plane(Vehicle):
  def move(self):
    print("Fly")

car_1 = car("Toyota", "Prius")
boat_1 = boat("Pentor", "Ebiza")
plane_1 = plane("Boeing", "777")

for x in (car_1, boat_1, plane_1):
  print(x.brand)
  print(x.model)
  x.move()

Toyota
Prius
Drive
Pentor
Ebiza
Sail
Boeing
777
Fly

In [51]:
"""
Write a program to find those numbers which are divisible by 7 and multiples of 5, between any given numbers 
"""
m = int(input("Enter your number: "))
n = int(input("Enter your number: "))
array_1 = []

for x in range(m, n):
  if (x % 7 == 0) and (x % 5 == 0):
    array_1.append(str(x))
print(",".join(array_1))

Enter your number: 2100
Enter ypur number: 4200
2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185,3220,3255,3290,3325,3360,3395,3430,3465,3500,3535,3570,3605,3640,3675,3710,3745,3780,3815,3850,3885,3920,3955,3990,4025,4060,4095,4130,4165

In [52]:
"""
Write a Python program to construct the following pattern using a nested for loop
*
**
***
****
***
**
*
"""
n = int(input("Enter a positive Integer: "))

for i in range(n):
  for j in range(i):
    print("* ", end = " ")
  print(" ")

for i in range(n, 0, -1):
  for j in range(i):
    print("* ", end = " ")
  print(" ")

Enter a positive Integer: 4

*
*  *
*  *  *
*  *  *  *
*  *  *
*  *
*

In [60]:
def cgpa_calc():
  total_score = 0
  earned_grade = 0

  num_courses = int(input("Please enter the number of courses you have taken: "))
  print("_______________________________________________")
  for x in range(num_courses):
    course_1 = input("Enter the name of course: ")
    unit_1 = int(input("Enter the credit units of course: "))
    score_1 = int(input("Enter the score: "))

    total_score += unit_1 * 4

    if (score_1 >= 93):
      grade = 4
    elif (score_1 < 93 and score_1 >= 90):
      grade = 3.75
    elif (score_1 < 90 and score_1 >= 87):
      grade = 3.33
    elif (score_1 < 87 and score_1 >= 83):
      grade = 3.00
    elif (score_1 < 83 and score_1 >= 80):
      grade = 2.7
    else:
      grade = 0

    earned_grade += unit_1 * grade

    x_gpa = earned_grade / total_score

  cgpa = float(x_gpa * 4)
  print("Your CGPA is " + str(cgpa))

cgpa_calc()

Please enter the number of courses you have taken: 2
_______________________________________________
Enter the name of course: 143
Enter the credit units of course: 3
Enter the score: 87
Enter the name of course: 165
Enter the credit units of course: 3
Enter the score: 91
Your CGPA is 3.5400000000000005