In [1]:
# Boolean Operators
a = 10 
b = 9 
print(a > b)

True

In [2]:
c = 11
d = 12 
print(c == d)

False

In [5]:
e = "he is a good boy"
f = "he is a good boy"
print(e == f)

True

In [5]:
x = input("Enter a number: ")
y = input("Enter another number: ")

if x > y: 
  print("X is greater than Y.")
elif x < y: 
  print("Y is greater than X.")
elif x == y: 
  print("x is equal to Y")
else:
  print("Wrong Input.")

Enter a number: 23
Enter another number: 23
x is equal to Y

In [6]:
alphabet = ["f", "d", "a", "b", "k", "e"]
alphabet.sort(reverse = True)
print(alphabet)

['k', 'f', 'e', 'd', 'b', 'a']

In [10]:
a_1 = 0
a_2 = "hello"
a_3 = True 
print(bool(a_1))
print(bool(a_2))
print(bool(a_3))

False
True
True

In [11]:
print(type(alphabet))

<class 'list'>

In [21]:
#Object oriented programming 
class my_class():
  def _init_(self):
    return 23

my_obj = my_class()
print(bool(my_obj))

# Over here the job of the function is to give a value and test if there is a completion of the function

True

In [22]:
# Boolean with function
a = 5
b = 6.5

def any_function():
  return a + b
print(any_function())

11.5

In [30]:
a = 5.2

def any_function():
  return a

if any_function():
  print("yes")
else: 
  print("no")

yes

In [31]:
#Lists
fruit_list = ["apple", "orange", "mango", "Pineapple", "guava", "banana"]
print(type(fruit_list))

<class 'list'>

In [32]:
print(len(fruit_list))

6

In [33]:
print(fruit_list[0])

apple

In [37]:
print(fruit_list[5])

banana

In [38]:
#Negative indexing
print(fruit_list[-1])

banana

In [39]:
print(fruit_list[-6])

apple

In [40]:
print(fruit_list[-0])

apple

In [42]:
print(fruit_list[-6])

apple

In [43]:
# Multi Item Extraction 
# find the 3rd, 4th and 5th item
print(fruit_list[2:5])

['mango', 'Pineapple', 'guava']

In [46]:
# Only Specific Range
print(fruit_list[1:])

['orange', 'mango', 'Pineapple', 'guava', 'banana']

In [47]:
#Adding two different lists together 
fruit_list_1 = ["Strawberry", "Cherry", "Blackberry", "Avocado"]
fruit_list.extend(fruit_list_1)
print(fruit_list)

['apple', 'orange', 'mango', 'Pineapple', 'guava', 'banana', 'Strawberry', 'Cherry', 'Blackberry', 'Avocado']

In [49]:
#Tuple 
additional = ("Kiwi", "Watermelon")
fruit_list.extend(additional)
print(fruit_list)

['apple', 'orange', 'mango', 'Pineapple', 'guava', 'banana', 'Strawberry', 'Cherry', 'Blackberry', 'Avocado', 'Kiwi', 'Watermelon', 'Kiwi', 'Watermelon']

In [50]:
print(fruit_list_1[0])

Strawberry

In [52]:
print(additional[0])

Kiwi

In [53]:
#remove some fruits from the dataset 
print(fruit_list.pop(-3))

Watermelon

In [60]:
print(fruit_list)

['apple', 'orange', 'mango', 'Pineapple', 'guava', 'banana', 'Strawberry', 'Cherry', 'Blackberry', 'Avocado', 'Watermelon']

In [61]:
print(fruit_list)

['apple', 'orange', 'mango', 'Pineapple', 'guava', 'banana', 'Strawberry', 'Cherry', 'Blackberry', 'Avocado', 'Watermelon']

In [58]:
print(fruit_list)

['apple', 'orange', 'mango', 'Pineapple', 'guava', 'banana', 'Strawberry', 'Cherry', 'Blackberry', 'Avocado', 'Watermelon']

In [62]:
print(fruit_list.append("kiwi"))

None

In [63]:
print(fruit_list)

['apple', 'orange', 'mango', 'Pineapple', 'guava', 'banana', 'Strawberry', 'Cherry', 'Blackberry', 'Avocado', 'Watermelon', 'kiwi']

In [64]:
#For Loop 
for x in fruit_list:
  print(x)

apple
orange
mango
Pineapple
guava
banana
Strawberry
Cherry
Blackberry
Avocado
Watermelon
kiwi

In [67]:
for i in range(len(fruit_list)):
  print(fruit_list[i])

apple
orange
mango
Pineapple
guava
banana
Strawberry
Cherry
Blackberry
Avocado
Watermelon
kiwi

In [73]:
fruit_list = ['apple', 'orange', 'mango', 'Pineapple', 'guava', 'banana', 'Strawberry', 'Cherry', 'Blackberry', 'Avocado', 'Watermelon']
z = 0
while z < len(fruit_list):
  print(fruit_list[z])
  z = z + 1

apple
orange
mango
Pineapple
guava
banana
Strawberry
Cherry
Blackberry
Avocado
Watermelon

In [72]:
[print(x) for x in fruit_list]

apple
orange
mango
Pineapple
guava
banana
Strawberry
Cherry
Blackberry
Avocado
Watermelon
kiwi

[None, None, None, None, None, None, None, None, None, None, None, None]

In [74]:
new_fruit = []

for x in fruit_list:
  if "b" in x:
    new_fruit.append(x)

print(new_fruit)

['banana', 'Strawberry', 'Blackberry']