In [1]:
#tuples
first_tuple = ("apple", "banana", "cherry")
print(first_tuple)

('apple', 'banana', 'cherry')

In [2]:
print(len(first_tuple))

3

In [3]:
print(type(first_tuple))

<class 'tuple'>

In [5]:
#Condtional statements 

item_1 = input("Please input something: ")

if item_1 in first_tuple:
  print("The fruit is here")
else: 
  print("The fruit is not here.")

Please input something: banana
The fruit is here

In [6]:
#Converting a tuple into a list 
x = ("salad", "chicken fry", "mashed potato", "rice")
y = list(x)
print(y[0])

salad

In [7]:
#Addition to the tuple 
y.append("vegetables")
print(y)

['salad', 'chicken fry', 'mashed potato', 'rice', 'vegetables']

In [9]:
y_2 = ("deserts", "sweet items")
x += y_2
print(x)

('salad', 'chicken fry', 'mashed potato', 'rice', 'deserts', 'sweet items')

In [10]:
#Unpacking in Tuples 
"""
A process of clearly identifying an exact object in the dataset through exact position
"""
(y_1, y_2, y_3, y_4, y_5, y_6) = x
print(y_3)
print(y_5)

mashed potato
deserts

In [18]:
x = ['salad', 'chicken fry', 'mashed potato', 'rice', 'deserts', 'sweet items']
(k_1, k_2, *k_3, k_4) = x
print(k_1)
print(k_3)

salad
['mashed potato', 'rice', 'deserts']

In [19]:
#Looping process
for i in x:
  print(x)

['salad', 'chicken fry', 'mashed potato', 'rice', 'deserts', 'sweet items']
['salad', 'chicken fry', 'mashed potato', 'rice', 'deserts', 'sweet items']
['salad', 'chicken fry', 'mashed potato', 'rice', 'deserts', 'sweet items']
['salad', 'chicken fry', 'mashed potato', 'rice', 'deserts', 'sweet items']
['salad', 'chicken fry', 'mashed potato', 'rice', 'deserts', 'sweet items']
['salad', 'chicken fry', 'mashed potato', 'rice', 'deserts', 'sweet items']

In [20]:
#Looping indexing 
for m in range(len(x)):
  print(x[m])

salad
chicken fry
mashed potato
rice
deserts
sweet items

In [26]:
i = 0

while i < len(x):
  print(x[i])
  i += 1

salad
chicken fry
mashed potato
rice
deserts
sweet items

In [27]:
#Adding tuples 
tuple_1 = ("a", "b", "c")
tuple_2 = (1, 2, 3)
tuple_3 = tuple_1 + tuple_2
print(tuple_3)

('a', 'b', 'c', 1, 2, 3)

In [28]:
#Sets
set_1 = {'salad', 'chicken fry', 'mashed potato', 'rice', 'deserts', 'sweet items'}
print(set_1)

{'mashed potato', 'rice', 'sweet items', 'deserts', 'salad', 'chicken fry'}

In [30]:
for i in set_1:
  print(i)

mashed potato
rice
sweet items
deserts
salad
chicken fry

In [33]:
item_look = input("Enter your query: ")

if item_look in set_1:
  print("Desired item is there.")
else:
  print("Desired item is not there.")

Enter your query: RICE
Desired item is not there.

In [37]:
set_1.add("fruit salad")
set_1.remove("fruit_salad")
print(set_1)

{'mashed potato', 'fruit salad', 'rice', 'sweet items', 'deserts', 'salad', 'chicken fry'}

In [38]:
set_2 = {"Hard Drinks", "starters", "chips", "chocolates"}
set_1.update(set_2)
print(set_1)

{'Hard Drinks', 'sweet items', 'salad', 'starters', 'chips', 'chicken fry', 'mashed potato', 'rice', 'deserts', 'fruit salad', 'chocolates'}

In [45]:
#Finding the common grade between two grades
grade_1 = {24, 26, 28, 35, 32, 34, 29}
grade_2 = {25, 26, 21, 27, 30, 35, 37}
grade_1.intersection_update(grade_2)
print(grade_1)

{26, 35}

In [46]:
common_grade = grade_1.intersection(grade_2)
print(common_grade)

{26, 35}

In [47]:
uncommon_grade = grade_1.symmetric_difference(grade_2)
print(uncommon_grade)

{37, 21, 25, 27, 30}

In [48]:
# Nested Dictionaries 

total_dict = {
  "dict_1" : {
    "name" : "Hasan",
    "cgpa" : 3.15,
    "year" : 2018,
    "type" : "STEM",
    "quality_publication" : 2,
    "programming_knowledge": 5,
    "professional_cert": 2,
    "entrance_exam": 1
},
  "dict_2" : {
      "name": "Yilun",
      "cgpa": 3.94,
      "year": 2018,
      "type": "STEM",
      "quality_publication": 23,
      "programming_Knowledge": 11,
      "professional_cert": 7,
      "entrance_exam": 5
  }
}
print(total_dict)

{'dict_1': {'name': 'Hasan', 'cgpa': 3.15, 'year': 2018, 'type': 'STEM', 'quality_publication': 2, 'programming_knowledge': 5, 'professional_cert': 2, 'entrance_exam': 1}, 'dict_2': {'name': 'Yilun', 'cgpa': 3.94, 'year': 2018, 'type': 'STEM', 'quality_publication': 23, 'programming_Knowledge': 11, 'professional_cert': 7, 'entrance_exam': 5}}

In [50]:
dict_1 = {
    "name" : "Hasan",
    "cgpa" : 3.15,
    "year" : 2018,
    "type" : "STEM",
    "quality_publication" : 2,
    "programming_knowledge": 5,
    "professional_cert": 2,
    "entrance_exam": 1
}
t = dict_1.get("cgpa")
print(t)

3.15

In [51]:
t_1 = dict_1.keys()
print(t_1)

dict_keys(['name', 'cgpa', 'year', 'type', 'quality_publication', 'programming_knowledge', 'professional_cert', 'entrance_exam'])

In [52]:
dict_1["experience"] = 3
print(dict_1)

{'name': 'Hasan', 'cgpa': 3.15, 'year': 2018, 'type': 'STEM', 'quality_publication': 2, 'programming_knowledge': 5, 'professional_cert': 2, 'entrance_exam': 1, 'experience': 3}

In [53]:
t_3 = dict_1.values()
print(t_3)

dict_values(['Hasan', 3.15, 2018, 'STEM', 2, 5, 2, 1, 3])

In [54]:
dict_1["cgpa"] = 3.75
print(dict_1)

{'name': 'Hasan', 'cgpa': 3.75, 'year': 2018, 'type': 'STEM', 'quality_publication': 2, 'programming_knowledge': 5, 'professional_cert': 2, 'entrance_exam': 1, 'experience': 3}

In [55]:
t_4 = dict_1.items()
print(t_4)

dict_items([('name', 'Hasan'), ('cgpa', 3.75), ('year', 2018), ('type', 'STEM'), ('quality_publication', 2), ('programming_knowledge', 5), ('professional_cert', 2), ('entrance_exam', 1), ('experience', 3)])

In [59]:
f_1 = input("Enter a desired condition: ")

if f_1 in dict_1:
  print("Effective condition.")
else:
  print("Undesirable condition.")

Enter a desired condition: entrance_exam
Effective condition.

In [60]:
for x in dict_1:
  print(x)

name
cgpa
year
type
quality_publication
programming_knowledge
professional_cert
entrance_exam
experience

In [61]:
for i in dict_1.values():
  print(i)

Hasan
3.75
2018
STEM
2
5
2
1
3

In [68]:
for m, n in dict_1.items():
  print(m, n)

name Hasan
cgpa 3.75
year 2018
type STEM
quality_publication 2
programming_knowledge 5
professional_cert 2
entrance_exam 1
experience 3